DATABASE_URL="postgresql://user:password@host/dbname?sslmode=require"
JWT_ACCESS_SECRET="your-access-secret-min-32-chars"
JWT_REFRESH_SECRET="your-refresh-secret-min-32-chars"
PORT=3000
NODE_ENV="development"
RESEND_API_KEY="re_your_resend_api_key"
FROM_EMAIL="onboarding@resend.dev"
APP_URL="http://localhost:8081"
